body
{
  background: url(https://wallpaperscraft.com/image/texture_brick_wall_82476_3840x2400.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbo
{
  margin-top: 40px;
}

.new
{
  margin-top: 40px;
}

.post
{
  width: 15%;
  height: 20%;
  display: inline-block;
}