<a href="/songs/new">Share your favorite song to the world... It's FREE (for now)!</a>
<% @songs.each do |song| %>
  <div class="song">
    <h3><a href="/songs/<%= song.id %>"><%= song.title %></a> <small>(by: <%= song.author %>)</small></h3>
    <p>
      <%= song.url %>
    </p>
  </div>
<% end %>