<div class="row">
  <div class="col-md-10"></div>
  <div class="col-md-1">
    <a href="/songs/new" class="btn btn-success" role="button">Share a Song!</a>
  </div>
</div>

<div class="row">
  <% @songs.each do |song| %>
    <div class="col-sm-4 col-md-2 post">
      <div class="thumbnail">
        <a href="/songs/<%= song.id %>" class="thumbnail">
          <img src="<%= song.url %>">
        </a>
        <div class="caption">
          <h4><%= song.title %></h4>
          <p><%= song.author %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>