<div class="jumbo">
  <div class="container"></div>
  <div class="container">
    <div class="jumbotron">
      <h1>Welcome to the Music Wall</h1>
      <p>Share your favorite songs, paste them on the Wall for the world to see them!</p>
      <p><a class="btn btn-primary btn-lg" href="/songs" role="button">Check it out!</a></p>
    </div>
  </div>
</div>